.company-logo {
    width: 100px !important;
    height: 100px !important;
  }
  
  @media (max-width: 990px) {
    .company-logo {
      width: 50px !important;
      height: 50px !important;
    }
  }

  .btn-sm-lg {
    font-size: 0.7rem; 
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 992px) {
    .btn-sm-lg {
      padding: 0;
      font-size: 1rem; 
      width: 45px;
      height: 45px;
    }
  }

  .div-mg-5 {
    margin-left: 5px;
    margin-right: 5px;
  }


  body[data-bs-theme="dark"] .card {
    background-color: #343a40;
    color: #fff;
  }
  
  body[data-bs-theme="light"] .card {
    background-color: #fff;
    color: #000;
  }
  
  .card {
    transition: background-color 0.3s, color 0.3s;
  }

  /* Ensure the footer sticks to the bottom */
.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

/* //-------------------- */

.logo-container {
  flex: 0 0 auto; /* Prevent the logo container from growing */
}

.company-logo {
  max-width: 150px; /* Adjust the logo size as needed */
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 990px) {
  .navbar {
    justify-content: center; /* Center the navbar contents */
  }
  .logo-container {
    position: absolute; /* Place logo in the center of the navbar */
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Custom title styles */

.custom-title1 {
  font-size: 1.5rem; /* Default size */
  font-weight: bold; /* Default weight */
}

@media (max-width: 992px) {
  .custom-title1 {
    font-size: 1rem; /* Smaller size for small screens */
    font-weight: normal; /* Normal weight for small screens */
  }
}

.custom-title2 {
  font-size: 2.5rem; /* Default size */
  font-weight: bold; /* Default weight */
}

@media (max-width: 767.98px) {
  .custom-title2 {
    font-size: 1.5rem; /* Smaller size for small screens */
    font-weight: normal; /* Normal weight for small screens */
  }
}

/* Custom subtitle styles */
.custom-subtitle {
  font-size: 1.5rem; /* Default size */
  font-weight: bold; /* Default weight */
}

@media (max-width: 992px) {
  .custom-subtitle {
    font-size: 1rem; /* Smaller size for small screens */
    font-weight: light; /* Light weight for small screens */
  }
}


/* Custom styles for the image */
.custom-image {
  height: 10cm;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .custom-image {
    height: 5cm; /* Adjust as needed for small screens */
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-image {
    height: 7cm; /* Adjust as needed for medium screens */
  }
}