.company-logo {
    width: 100px !important;
    height: 100px !important;
  }
  
  @media (max-width: 990px) {
    .company-logo {
      width: 50px !important;
      height: 50px !important;
    }
  }

  .btn-sm-lg {
    font-size: 0.7rem; 
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 992px) {
    .btn-sm-lg {
      padding: 0;
      font-size: 1rem; 
      width: 45px;
      height: 45px;
    }
  }

  .div-mg-5 {
    margin-left: 5px;
    margin-right: 5px;
  }


  body[data-bs-theme="dark"] .card {
    background-color: #343a40;
    color: #fff;
  }
  
  body[data-bs-theme="light"] .card {
    background-color: #fff;
    color: #000;
  }
  
  .card {
    transition: background-color 0.3s, color 0.3s;
  }

  /* Ensure the footer sticks to the bottom */
.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

/* //-------------------- */

.logo-container {
  flex: 0 0 auto; /* Prevent the logo container from growing */
}

.company-logo {
  max-width: 150px; /* Adjust the logo size as needed */
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 990px) {
  .navbar {
    justify-content: center; /* Center the navbar contents */
  }
  .logo-container {
    position: absolute; /* Place logo in the center of the navbar */
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Custom title styles */

.custom-title1 {
  font-size: 1.5rem; /* Default size */
  font-weight: bold; /* Default weight */
}

@media (max-width: 992px) {
  .custom-title1 {
    font-size: 1rem; /* Smaller size for small screens */
    font-weight: normal; /* Normal weight for small screens */
  }
}

.custom-title2 {
  font-size: 2.5rem; /* Default size */
  font-weight: bold; /* Default weight */
}

@media (max-width: 767.98px) {
  .custom-title2 {
    font-size: 1.5rem; /* Smaller size for small screens */
    font-weight: normal; /* Normal weight for small screens */
  }
}

/* Custom subtitle styles */
.custom-subtitle {
  font-size: 1.5rem; /* Default size */
  font-weight: bold; /* Default weight */
}

@media (max-width: 992px) {
  .custom-subtitle {
    font-size: 1rem; /* Smaller size for small screens */
    font-weight: light; /* Light weight for small screens */
  }
}


/* Custom styles for the image */
.custom-image {
  height: 10cm;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .custom-image {
    height: 5cm; /* Adjust as needed for small screens */
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-image {
    height: 7cm; /* Adjust as needed for medium screens */
  }
}


/* Custom styles for review items */
.carousel-item-custom {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
}

.carousel-item-custom-dark {
  background-color: #343a40; /* Dark background */
  color: white;
  padding: 20px;
  border-radius: 10px;
}

/* Custom styles for the review title */
.review-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Custom styles for carousel items */
.carousel-item-custom {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  margin: 0 20px; /* Add margin to the left and right */
}

.carousel-item-custom-dark {
  background-color: #343a40; /* Dark background */
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 0 20px; /* Add margin to the left and right */
}



/* Custom styles for the carousel inner */
.carousel-inner-custom {
  width: 70%;
  margin: 0 auto; /* Center the carousel */
  border-radius: 40px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Ensure carousel control icons are visible in dark mode */
[data-bs-theme="dark"] .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel-control-next-icon {
  filter: invert(1) brightness(2); /* Invert colors and increase brightness */
}

/* Ensure carousel control icons are visible in light mode */
[data-bs-theme="light"] .carousel-control-prev-icon,
[data-bs-theme="light"] .carousel-control-next-icon {
  filter: invert(0); /* No inversion for light mode */
}

/* Custom styles for the review title */
.review-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Custom styles for carousel items */
.carousel-item-custom {
  background-color: #e3dfdf; /* Light gray background */
  color: #000; /* Black text color */
  padding: 20px;
  border-radius: 10px;
  margin: 0 20px; /* Add margin to the left and right */
}

.carousel-item-custom-dark {
  background-color: #9e9797; /* Darker background */
  color: #f8f9fa; /* Light gray text color */
  padding: 20px;
  border-radius: 10px;
  margin: 0 20px; /* Add margin to the left and right */
}

/* Custom styles for carousel controls */
.custom-carousel-control-prev,
.custom-carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 2rem;
  z-index: 1;
}

.custom-carousel-control-prev {
  left: 0;
}

.custom-carousel-control-next {
  right: 0;
}

.reviw-container {
  position: relative;
}